<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}"/>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:green;">PetDelux</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sobre.html">Sobre</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/consultarCliente.html">Consulte-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html" style="margin-left: 1100px">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastroCliente.html" style="margin-left: 10px; color: green;">Cadastre-se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="cadastroCliente">
    <form action="/cadastroCliente" method="post">
        <h1>Cadastro Cliente</h1>
        <br>
        <label id="lidCPF" name="nameCPF">CPF:</label>
        <input type="number" id="idCPF" name="nameCPF" placeholder="Informe seu CPF: "/><br><br>

        <label id="lidNome" name="nameNome">Nome:</label>
        <input type="text" id="idNome" name="idNome" placeholder="Informe seu nome: "/><br><br>

        <label id="lidTelefone" name="nameTelefone">Telefone:</label>
        <input type="number" id="idTelefone" name="nameTelefone" placeholder="(11) 99999-9999"/><br><br>

        <label id="lidEndereco" name="nameEndereco">Endereço:</label>
        <input type="text" id="idEndereco" name="nameEndereco" placeholder="Rua Stanislaw ponte preta, número 5"/><br><br>

        <label id="lidData" name="nameData">Data De Nascimento:</label>
        <input type="date" id="idData" name="nameData"/><br><br>

        <button type="submit"> Cadastrar</button>
    </form>
</div>
</body>
</html>